body {
  background-color: #FF9E1B;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 3em;
  text-align: center;
}

.container {
  position: relative;
  width: 50%;
  height: 300px;
  margin: 104px auto 0;
}

.container:before {
  position: absolute;
  content: "";
  left: 0;
/*  top: -9px;*/
  border: 1px solid black;
  width: 477px;
  height: 153px;
  border-radius: 12px;
}

.spindle {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 464px;
  height: 152px;
  padding: 0 12px;
  /*bottom: 5px;*/
}

img {
  max-width: 100%;
  padding: 10px 0;
}

.reel {
  width: 27.33%;
  float: left;
  margin-right: 38px;
  position: relative;
}

.reel:last-child {
  margin-right: 0;
}