.container {
  width: 50%;
  height: 300px;
  margin: 0 auto;
  border: 1px solid black;
}

.spindle {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 388px;
  height: 137px;
  border: 1px solid green;
  padding: 0 12px;
}

img {
  max-width: 100%;
  padding: 10px 0;
}

.reel {
  width: 30.33%;
  float: left;
  margin-right: 14px;
  position: relative;
}

.reel:last-child {
  margin-right: 0;
}